body{background-image: 
    url("images/college_campus.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    
   

}

ul{
    margin:30px,20px;
    padding:0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
ul li{
    float: left;
    border-right: 1px solid #B73215;
    text-align: center;

} 
ul li a{
    display: block;
    padding: 0 28px;
    color: #ffff;
    text-decoration: none;
}
ul li a:hover,.active a{
    background-color:orange;
}
.search{
    float: right;
}
